/* ----------------------------- General ----------------------------- */
body {
    scroll-behavior: smooth;
}

.general {
    margin: 20px;
    padding: 20px;
    overflow-x: scroll;
}

body::-webkit-scrollbar,
.general::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    margin-right: 3px;
    background-color: #2e2e2e;
}

body:hover::-webkit-scrollbar-thumb,
.general:hover::-webkit-scrollbar-thumb {
    background-color: #53D1FA;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover,
.general::-webkit-scrollbar-thumb:hover {
    width: 7px;
    background-color: #FAA852;
    border-radius: 12px;
}


/* ----------------------------- Enlace Atras ----------------------------- */

.enlaceAtras {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}

.principal {
    filter: invert(1);

}

.btnAtras {
    border-radius: 8px;
    font-size: 2ch;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.enlaceAtras:hover {
    left: 20px;
}

.imgAtras {
    width: 20px;
}

/* ----------------------------- Acordion ----------------------------- */

.accordion-item .accordion-body {
    background-color: rgba(191, 226, 233, 0.4);
    color: black;
    overflow: hidden;
}

.accordion-item h2.accordion-header button.accordion-button {
    background-color: rgb(20, 22, 22);
    color: #0dcaf0;
    overflow: hidden;
}