body::before {
    content: "";
    background-image: url("../Imagenes/codigoFondo.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fondoGeneral {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-weight: 600;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.separador {
    border-bottom: 1px solid white;
}

.fixed {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

#modulo1,
#modulo2,
#modulo3 {
    border: 0px;
    border-radius: 20px;
}

.btn {
    border-radius: 20px;
}

.white {
    filter: invert(1);
    margin-bottom: 5px;
}