/* --------------------------- Ejercicio 4 --------------------------- */
#ejercicio4{
    border-bottom: 3px solid black;
    width: 350px;
}

/* --------------------------- Ejercicio 6 --------------------------- */
.boton{
    margin-bottom: 20px;
}