* {
    margin: 0px;
    max-width: 100%;
}

.btn {
    margin-top: 20px;
}

h3 {
    padding-top: 40px;
    text-align: center;
}

.ejercicio {
    margin: 20px;
    padding: 20px;
}

#respuesta {
    display: none;
}

.imgAtras {
    width: 20px;
}

.btnAtras:hover {
    margin-left: 30px;
}

a {
    text-decoration: none;
    margin-left: 10px;
}

.enlaceAtras {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.btn-group {
    width: 100%;
}

.dropdown-item {
    width: 100%;
}

#bulto {
    height: 300px;
}

/*----------------- Ejercicio 1 -------------------*/
.pointer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.37);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
}

/*----------------- Ejercicio 4 -------------------*/
#otro {
    display: none;
}

/*----------------- Ejercicio 5 -------------------*/
#botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#numeros {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

#operaciones {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
}

#extra {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(1, 100px);
}

#salidaGeneral {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 35%;
    align-items: center;
}

#salidaOperador {
    width: 30px;
}


/*----------------- Ejercicio 16 -------------------*/

.ejercicio16 {
    position: absolute;
    top: 60%;
    left: 40%;
}

#Array1 {
    margin-top: 20px;
}

#Array2 {
    margin-top: 60px;
}

/*----------------- Ejercicio 22 -------------------*/

.Dark {
    color: white;
}

.Filter {
    filter: invert(1);
}