a:hover {
    text-decoration: none;
}

/* --------------------- Ejercicio 1 --------------------- */
#body {
    color: white;
}

.lista {
    list-style: none;
    padding: 5px 10px;
    font-size: 3ch;
    cursor: pointer;
}

.ejercicio1 {
    color: violet;
}

#azul:hover {
    color: #0051ff;
    cursor: pointer;
}

#negro:hover {
    color: grey;
}

#verde:hover {
    color: rgba(42, 209, 1, 0.829);
}

#rojo:hover {
    color: red;
}

#amarillo:hover {
    color: gold;
}

#cian:hover {
    color: rgb(63, 194, 255);
}

/* --------------------- Ejercicio 2 --------------------- */

#tablaE2 {
    color: black;
}

table.ejercicioE2 th,
table.ejercicioE2 td {
    border-collapse: collapse;
    border: solid #333 1px;
    text-align: center;
    height: 35px;
    width: 70px;
    font-weight: 600;
}

table.ejercicioE2 thead th {
    background-color: #e7e7e7;
}

.whiteBG {
    background-color: white;
}

table.ejercicioE2 th {
    background-color: #E6F3FF;
    font-weight: 1000;
}

table.ejercicioE2 th.columna1 {
    min-width: 120px;
    text-align: left;
}

table.ejercicioE2 tr.yellow td {
    background-color: #FFFFCC;
}

/* --------------------- Ejercicio 3 --------------------- */

.white {
    color: white;
}

.white:hover {
    color: rgb(63, 194, 255);
}

.grey {
    color: grey;
}

.grey:hover {
    color: grey;
    cursor: default;
}

.marginLeft {
    margin-left: 15px;
}

/* --------------------- Ejercicio Final --------------------- */

.destacado {
    filter: invert(70%) sepia(64%) saturate(2394%) hue-rotate(146deg) brightness(96%) contrast(97%);
}